import React from 'react';
import './{{pascalCase name}}.css';

function {{pascalCase name}}() {
  return (
    <div className="{{camelCase name}}">
      <h2>{{pascalCase name}}</h2>
    </div>
  );
}

export default {{pascalCase name}};
